#toast-container > .toast {
  background-image: none !important;
}

#toast-container > .toast:before {
  position: fixed;
  font-family: "FontAwesome";
  font-size: 24px;
  line-height: 18px;
  float: left;
  color: #FFF;
  padding-right: 0.5em;
  margin: auto 0.5em auto -1.5em;
}

#toast-container > .toast-success {
  background-color: #10B981;
}

#toast-container > .toast-error {
  background-color: #EF4444;
}

#toast-container > .toast-info {
  background-color: #6B46C1;
}

#toast-container > .toast-warning {
  background-color: #F59E0B;
}

#toast-container.toast-top-right > .toast:before,
#toast-container.toast-bottom-right > .toast:before {
  margin: auto -1.5em auto 0.5em;
}

#toast-container > .toast-success:before {
  content: "\f00c";
}

#toast-container > .toast-error:before {
  content: "\f071";
}

#toast-container > .toast-info:before {
  content: "\f129";
}

#toast-container > .toast-warning:before {
  content: "\f06a";
}

.toast {
  border-radius: 8px !important;
}

.toast-title {
  font-weight: bold;
}

.toast-message {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

.toast-message a,
.toast-message label {
  color: #FFFFFF;
}

.toast-message a:hover {
  color: #CCCCCC;
  text-decoration: none;
}

.toast-close-button {
  position: relative;
  right: -0.3em;
  top: -0.3em;
  float: right;
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.8;
}

.toast-close-button:hover,
.toast-close-button:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
}

.toast-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: #000000;
  opacity: 0.4;
}